

.navigation{
    list-style-type: none;
    margin:5px;
    font-size: 20px;
    padding: 5px;
    background-color:darkblue;
    overflow: hidden;
    position: fixed;
}
nav li hover{
   
}
nav li a{
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;

}
nav li {
    background-color: beige;

}
.homepage{
    background-image:url("images/portfolio backg.jpg");
    height: 600px;
    background-repeat:no-repeat;
    background-size: cover;


}
.portfolio {
    color:whitesmoke;
    text-align: center;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}
.buttonp {
    background-color: goldenrod;
    width: 60%;
    padding: 14px 20px;
    border-radius: 12px;
}
.centre {
    text-align: center;
}
nav , section{
    margin: 3px;
    padding: 2px;
}

.flexbox{
    display: flex;
}

#About p {
    border: 2px solid #b02a37;
    margin: 5px;
    padding: 15px;
}
.flex-contain{
    display: flex;
}


.flex-contain{
    display: flex;
}
.flex-contain > div {
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 30px;

}
#Educational Background{
    border-radius: 30%;


}
.flexbox >div{
    margin: 3px;
    padding: 3px;
}

.container{
    background-color: lightgoldenrodyellow;
    padding: 40px;
    border-radius: 6px;


}
.row:after {
    display:table;
    content:"";
    clear:both;
}
.col-20 {
    width: 20%;
    margin: 6px;
    float: left;
}

.col-80{
    width: 80%;
    margin: 6px;
    float: left;
}
input,textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid greenyellow;
}
label{
    display: inline-block;
    padding: 12px 12px 12px 0;
}

.btnsubmit{
    width: 25%;
    float: right;
    padding: 8px;
    background-color: darkred;
    border: none;
    border-radius: 5px;
}
.btnsubmit:hover{
    background-color: gold;
}
